{% extends "master.html" %}
{% block content %}
<div class="container">
		<p> <strong>ये बुढ़ापा</strong>
			शरीर के प्रति
			उदासीनता के
			पश्चाताप सा
			<br/>ये बुढ़ापा
			<br/>
			अपने आश्रितों के
			प्रति उपकारों का
			पुर्नरावलोकन
			<br/>ये बुढ़ापा
			<br/>पूर्व आश्रितों से
			आश्रय की
			अपेक्षा का
			ये बुढ़ापा
			अपनों के
			निंदक व प्रशंसकों
			का आभारी
			<br/>ये बुढ़ापा
			<br/>इंदियों का
			भोग से
			टूटता नाता
			<br/>ये बुढ़ापा
			<br/>मल-मूत्र से सना
			नवजात शिशु सा
			पूर्व सेवा का
			प्रतिफल पाता
			<br/>ये बुढ़ापा
			<br/>लेटे बुढ़ापे को
			देखकर सहमता
			अभी चलता फिरता
			<br/>ये बुढ़ापा
			<br/>देख-सुन
			बोल न पाता
			और सोच न पाता
			<br/>ये बुढ़ापा
			<br/>बिस्तर से
			अस्पताल होकर
			श्मशान जाता
			ये बुढ़ापा
		</p>
	</div>
{% endblock content %}