{% extends "master.html" %}
{% block content %}
	<div class="container">
		<p><strong>संतुष्टि और व्यापार, सब बेकार</strong>
			<br/>
			संतुष्टि और व्यापार
			<br/>
			सब बेकार
			<br/>
			गीत, गजल और साहित्य
			<br/>
			लेखक से पूछो
			<br/>
			सब बेकार
			<br/>
			संतुष्टि और व्यापार
			<br/>
			सब बेकार
			<br/>
			गमलें, बगिया और पौधारोपण
			<br/>
			माली से पूछो
			<br/>
			सब बेकार
			<br/>
			संतुष्टि और व्यापार
			<br/>
			सब बेकार
			<br/>
			मिलन, प्रेमिका और प्यार
			<br/>
			शादीशुदा से पूछो
			<br/>
			सब बेकार
			<br/>
			संतुष्टि और व्यापार
			<br/>
			सब बेकार
			<br/>
			नमकीन, मीठा और अचार
			<br/>
			हलवाई से पूछो
			<br/>
			सब बेकार
			<br/>
			संतुष्टि और व्यापार
			<br/>
			सब बेकार
			<br/>
			स्वप्न, कल्पना और विचार
			<br/>
			मनोवैज्ञानिक से पूछो
			<br/>
			सब बेकार
			<br/>
			संतुष्टि और व्यापार
			<br/>
			सब बेकार
			<br/>
			भ्रमण, प्रकृति और सैर सपाटा
			<br/>
			गाइड से पूछा
			<br/>
			सब बेकार
			<br/>
			संतुष्टि और व्यापार
			<br/>
			सब बेकार
			<br/>
			सत्य, संस्कार और सदाचार
			<br/>
			स्वमन से पूछो
			<br/>
			सब बेकार
			<br/>
			संतुष्टि और व्यापार
			<br/>
			सब बेकार
		</p>
	</div>
{% endblock content %}