{% extends "master.html" %}
{% block content %}
<div class="container">
		<p><strong>वसुधैव कुटुम्बकम्</strong>
			<br/>
आकस्मिक आपदा, पीड़ाओं की दुनिया ।
			<br/>
पीड़ित मानवता कहे ।
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l 
			<br/>
अविष्कारों, अन्वेषकों की दुनिया,
			<br/>
आवश्यकताओं की सार्वभौमिकता कहे ।
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l
			<br/>
बुद्धिमानों मंदबुद्धियों की दुनिया ।
			<br/>
वैचारिक संवहनता कहे ।
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l
			<br/>
खानपान, व्यंजन की दुनिया ।
			<br/>
स्वादों का विनियम कहे।
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l
			<br/>
खनिजों, उत्पादों की दुनिया ।
			<br/>
देशीय अनुपलब्धता उपलब्धता कहे ।
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l
			<br/>
अनंत अंतरिक्ष इलियनों की दुनिया ।
			<br/>
एकजुटता में सरलता कहे ।
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l
			<br/>
आर्थिक असमानता की दुनिया ।
			<br/>
संवेदना की अपेक्षा कहे ।
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l
			<br/>
परमाणु अनुसंधान के दुष्परिणाम की दुनिया।
			<br/>
निःशस्त्रीकरण की आवश्यकता कहे ।
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l
			<br/>
संस्कृति, सभ्यता की विभिन्नता की दुनिया ।
			<br/>
सहिष्णुता की आवश्यकता कहे ।
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l
			<br/>
पर्यटकों की उत्सुकता, एकांत की दुनिया ।
			<br/>
स्वजनों की अल्पता कहे ।
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l
			<br/>
पर्यावरणीय विविधता की दुनिया ।
			<br/>
उपभोग की विभिन्नता कहे l
			<br/>
वसुधैव कुटुम्बकम् l वसुधैव कुटुम्बकम् l l
		</p>
	</div>
{% endblock content %}