{% extends "master.html" %}
{% block content %}
<body>
	<div class="container">
		<p> जिये जीवन, पल पल में
		
			जिये जीवन,
			पल पल में ।
			विचारशून्यता,
			जागरूकता,
			और तन्मयता के,
			कुछ आध्यात्मिक,
			पल में,
			जिये जीवन,
			पल पल में ।
			चिन्ता,
			चिन्तन,
			और स्वप्न के,
			कुछ वैचारिक,
			पल में,
			जिये जीवन,
			पल पल में ।
			निन्द्रा,
			मादकता,
			और मूर्छा के,
			कुछ अचेतन,
			पल में,
			जिये जीवन,
			पल पल में ।
			जन्म,
			मृत्यु,
			और अद्धर्विराम के,
			कुछ आत्मिक,
			पल में,
			जिये जीवन,
			पल पल में ।
			करूणा,
			सम्वेदना,
			और प्रेम के,
			कुछ हार्दिक,
			पल में,
			जिये जीवन,
			पल पल में ।
			भय,
			उत्साह,
			और आत्मविश्वास के,
			कुछ साहसिक,
			पल में,
			जिये जीवन,
			पल पल में ।</p>
	</div>
	</body>

{% endblock content %}